 /* NAVIGATION STYLE */
 .navbar {
    height: 164px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.nav-link {
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
}

.nav-link.active {
    background-color: black;
    color: white !important;
}

.nav-link:not(.active) {
    color: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo-text {
    position: absolute;
    left: 16px;
    top: 41px;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 30px;
    color: black;
    text-decoration: none;

}


.navbar-transparent {
position: absolute;
top: 0;
width: 100%;
background: transparent !important;
box-shadow: none;
z-index: 999;
}

.navbar-transparent .nav-link,
.navbar-transparent .logo-text {
color:white !important;
}

.navbar-transparent .nav-link.active {
background-color: transparent;
outline: 2px solidwhite;
color: white !important;
}
